body {
  font-family: Georgia, Helvetica, Arial, Sans-serif;
}

ol {
   margin: 0;
   display: inline; padding-left: 1em;
}

li {
  display: inline; padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid black;
}
